* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
}

.marker {
  height: 35px;
  width: 35px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer !important;
}

.innerMarker {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.innerMarker {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  z-index: 100;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.startScreen {
  position: absolute;
  background-color: rgba(179, 179, 179, 0.781);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10rem;
  backdrop-filter: blur(5px);
}

.magic {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  border-radius: 50%;
}

.box {
  background-color: rgb(218, 218, 218);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(5px);
  color: rgb(31, 31, 31);
}

.startScreen-title {
  font-size: 2.5rem;
  margin: 1rem;
}

.button {
  padding: 0.75rem 3rem;
  background-color: rgb(57, 90, 236);
  width: min-content;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 2rem;
  color: white;
  border: 3px solid rgb(57, 90, 236);
}

.button:hover {
  background-color: white;
  color: rgb(57, 90, 236);
}

.popup {
  max-width: 400px;
}

.popup-container {
  padding: 0.5rem;
}

.popup-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.popup-image {
  width: 40px;
}

.popup-subtitle {
  margin-bottom: 0.5rem;
}
